<body>
<div class="container">
  <div class="row">
    <%= render 'users/common', user: current_user, book: @thebook %>
    <div class="col-xs-9">
      <h2>Book detail</h2>
      <div>
        <table class="col-xs-12">
          <thead>
            <th class="active"></th>
            <th class="active">Title</th>
            <th class="active">Opinion</th>
            <th class="active"></th>
            <th class="active"></th>
          </thead>
          <tbody>
            <%= render @book %>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <%= form_with(model: [@book, @the_book_comment], remote: true) do |f| %>
            <%#= form_with url: book_book_comments do |f| %>
              <%= f.label :comment %>
              <%= f.text_area :comment, rows:'5', id:"comment_body", class:"form-control", placeholder:"comment here" %>
              <div class="field">
              <%= f.submit "投稿する", class:"btn btn-md btn-base-1 btn-default active pull-right" %>
              </div>
            <% end %>
          </div>
        </div>
        <%= render 'books/comment_area', comments: @book_comments, book: @book %>
      </div>
    </div>
  </div>
</body>
