<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/fde04d6aaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body data-gr-c-s-loaded="true">
    <header class="navbar nabvar-fixd-top navbar-inverse">
      <div class="container">
          <nav class="nav navbar-nav navbar-left">
            <span class="headtitle">
              <strong>Bookers</strong>
            </span>
          </nav>

          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li>
                  <%= link_to 'Home', user_path(current_user), class: "glyphicon glyphicon-home" %>
                </li>
                <li>
                  <%= link_to 'Users', users_path,  class: "glyphicon glyphicon-user users" %>
                </li>
                <li>
                  <%= link_to 'Books', books_path, class: "glyphicon glyphicon-book books" %>
                </li>
                <li>
                  <%= link_to 'logout', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out logout" %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Home', root_path, class: "glyphicon glyphicon-home home" %>
                </li>
                <li>
                  <%= link_to 'About', home_about_path, class: "glyphicon glyphicon-link about" %>
                </li>
                <li>
                  <%= link_to 'Sign up', new_user_registration_path, class: "glyphicon glyphicon-edit sign_up" %>
                </li>
                <li>
                  <%= link_to 'login', new_user_session_path, class: "glyphicon glyphicon-log-in sign_in" %>
                </li>
              <% end %>
            </ul>
          </nav>
          <div class="row">
          </div>
        </div>
      </header>
            <%= render 'searches/search_form' %>
    <%= yield %>
  </body>
</html>
